/* PP Radio Grotesk - Display Font */
/* Add your font files to assets/fonts/ and uncomment these declarations */
/*
@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('./assets/fonts/PPRadioGrotesk-Regular.woff2') format('woff2'),
       url('./assets/fonts/PPRadioGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/

/* PP Pangram Sans - Body Font */
/*
@font-face {
  font-family: 'PP Pangram Sans';
  src: url('./assets/fonts/PPPangramSans-Regular.woff2') format('woff2'),
       url('./assets/fonts/PPPangramSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('./assets/fonts/PPPangramSans-Medium.woff2') format('woff2'),
       url('./assets/fonts/PPPangramSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('./assets/fonts/PPPangramSans-Semibold.woff2') format('woff2'),
       url('./assets/fonts/PPPangramSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('./assets/fonts/PPPangramSans-Bold.woff2') format('woff2'),
       url('./assets/fonts/PPPangramSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*/

/* PP Eiko - Special Font */
/*
@font-face {
  font-family: 'PP Eiko';
  src: url('./assets/fonts/PPEiko-Regular.woff2') format('woff2'),
       url('./assets/fonts/PPEiko-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/

/* Inter - Camelot Wheel Font */
/* Using Google Fonts CDN - no local files needed */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
